<!DOCTYPE html>
<html lang="en">
	<head>
		<title>My website</title>
	</head>
	<body>
		this file is location:
		<font color="blue">views/layouts/main.handlebars</font>
		{{{ body }}}
	</body>
</html>
